.section {
  margin: 64px 0px;
  padding: 0 24px;
}

.filterSection {
  display: flex;
  gap: 12px;
  flex-direction: row;

  justify-content: center;
  align-items: end;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: rgb(136, 133, 133);
}

.input {
  border-radius: 10px;

  display: block;
  padding: 8px;
  outline: none;
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #3470ff;
  border-color: #3470ff;
  padding: 8px 12px;
}

.resetButton:hover {
  background-color: #dadde1;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 146px) / 3);
  border: 1px solid grey;
  padding: 15px;
}

.userTitle {
  font-size: large;
}

.userEmail {
  color: blue;
}

.userCit {
}

.button {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 100%;
  height: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  color: #3470ff;
  border-color: #3470ff;
}

.button:hover {
  background-color: #dadde1;
}
